
<h1 style="text-align: center; margin: 12px auto; text-decoration: underline; font-style: italic;">Graph Table</h1>

<table mat-table [dataSource]="dataSource" matSort>

  <ng-container matColumnDef="position">
    <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Number of Row in table</mat-label>
        <input matInput [formControl]="positionFilter">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element">{{element.position}}</td>
  </ng-container>

  <ng-container matColumnDef="name1">
    <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search Name1</mat-label>
        <input matInput [formControl]="name1Filter">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element">{{element.name1}}</td>
  </ng-container>

  <ng-container matColumnDef="name2">
    <th class="header" mat-header-cell *matHeaderCellDef mat-sort-header>
      <mat-form-field class="filter" floatLabel="never">
        <mat-label>Search Name2</mat-label>
        <input matInput [formControl]="name2Filter">
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element">{{element.name2}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay"></tr>

</table>

<p style="text-align: center; margin-top: 16px; color: #ff4d4d;"  *ngIf="dataSource.filteredData.length <= 0">No data were found for your request.</p>
